<html>
    <head>
       <title>Money Maker!</title>
       <link rel="stylesheet" href="/static/index.css" type="text/css">
    </head>
    <body>
      <div id="container">
          <p>
              Your Gold: <span>{{session["gold"]}}</span>
          </p>
          <form id="reset" action="/process" method="post">
              <input type="hidden" name="action" value="reset">
              <input type="submit" value="Reset">
          </form>
          <div class="tasks">
              <h1>Farm</h1>
              <p>
                  Farm the land for buckwheat.
              </p>
              <p>
                  (earns 10-20 gold pieces)
              </p>
              <form class="button" action="/process" method="post">
                  <input type="hidden" name="action" value="farm">
                  <input type="submit" value="Farm for 12 hours">
              </form>
          </div>
          <div class="tasks">
              <h1>House</h1>
              <p>
                  Clean someone else's house for money.
              </p>
              <p>
                  (earns 10-12 gold pieces)
              </p>
              <form class="button" action="/process" method="post">
                  <input type="hidden" name="action" value="house">
                  <input type="submit" value="Clean for 8 hours">
              </form>
          </div>
          <div class="tasks">
              <h1>Cave</h1>
              <p>
                  Go into a dark cave and look for cool loot.
              </p>
              <p>
                  (earns 0-30 gold pieces)
              </p>
              <form class="button" action="/process" method="post">
                  <input type="hidden" name="action" value="cave">
                  <input type="submit" value="Explore for a day">
              </form>
          </div>
          <div class="tasks">
              <h1>Seaside</h1>
              <p>
                  Scour the seaside for shells and debris.
              </p>
              <p>
                  (earns 5-15 gold pieces)
              </p>
              <form class="button" action="/process" method="post">
                  <input type="hidden" name="action" value="seaside">
                  <input type="submit" value="Scour for 10 hours">
              </form>
          </div>
          <div class="tasks">
              <h1>Casino</h1>
              <p>
                  Go and gamble at a seedy casino
              </p>
              <p>
                  (earn up to 100 gold pieces or lose up to 120 gold pieces)
              </p>
              <form class="button" action="/process" method="post">
                  <input type="hidden" name="action" value="gamble">
                  <input type="submit" value="Gamble into the night">
              </form>
          </div>
          <div id="activity">
              {{session["activity"]|safe}}
          </div>
      </div>
    </body>
</html>
